In [1]:
-5 % -4

-1

In [2]:
yr = int(input("enter yr: "))
if yr %4 ==0:
    print("leap")
else:
    print("not")

enter yr: 2000
leap

In [3]:
n=4
for i in range(n):
    print('*'*n)

****
****
****
****

In [6]:
i=0
while i <n:
   
    print('*'*n)
    i=i+1

****
****
****
****

## DO STAR PATTERNS

In [11]:
name = 'Sahaj'
name[4:0:-1]

'jaha'

In [24]:
items= [2, 4, 8, 6]
items

[2, 4, 8, 6]

In [25]:
# items[0:3]= [5,7]
# items

In [28]:
dict = {"apple": 'red',
        "mango": 'yellow'}

In [30]:
dict['apple']

'red'

In [33]:
for keys in dict:
    print(keys,'is ' ,dict[keys])

apple is  red
mango is  yellow

In [36]:
names= ['Sahaj', 'Divyam', 'Manjeet','Harkirat']
age= [20, 19,18]

In [37]:
list(zip(names,age))

[('Sahaj', 20), ('Divyam', 19), ('Manjeet', 18)]

In [40]:
list(enumerate(items))
# ^ it is kinda equal to zip(len(items),items)

[(0, 2), (1, 4), (2, 8), (3, 6)]

In [42]:
for item in enumerate(items):
    print(item)
for item,val in enumerate(items):
    print(item,val)

(0, 2)
(1, 4)
(2, 8)
(3, 6)
0 2
1 4
2 8
3 6

# FUNCTIONS

In [45]:
f = lambda x,y: x*y
f(2,3)

6

In [55]:
line = '23 25 26 27'
arr= line.split(' ')
arr

['23', '25', '26', '27']

In [56]:
list(map(int, arr))

[23, 25, 26, 27]

In [60]:
list(map(lambda x: int(x)**3, arr))
#list(map(lambda x: print(x), arr))   #-- This will return None because we are basically not returning any value!

[12167, 15625, 17576, 19683]

## Class, OOPS

In [69]:
class Human:
    def __init__(self,name='default'):
        self.name = name

In [71]:
sahaj = Human("Sahaj")
print(sahaj.name)

Sahaj